@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #003cff, #00e1ff);
}

.login {
    background: white;
    backdrop-filter: blur(25px);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
    padding: 40px 40px;
    text-align: center;
    border-radius: 30px;
}

.login h2 {
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: bold;
    color: #003cff;
    margin-bottom: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.login .box {
    position: relative;
    margin-bottom: 20px;
}

input {
    position: relative;
    width: 300px;
    height: 50px;
    text-indent: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    outline: none;
    font-size: 1.1em;
    transition: linear 0.2s;
}

input:focus {
    border-color: #003cff;
    text-indent: 20px;
}

.box #toggle {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
    color: #333;
}

.box #toggle::before {
    content: '\f070';
    font-family: fontAwesome;
}

.box #toggle.hide::before {
    content: '\f06e';
    font-family: fontAwesome;
}

.btnLogin {
    display: inline-block;
    padding: 10px 45px;
    margin-top: 20px;
    color: #003cff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 10px;
    letter-spacing: 2px;
    font-weight: 700;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2),
    -2px -2px #f1f1f1,
    inset 2px 2px rgba(0, 0, 0, 0.2),
    inset -2px -2px #f1f1f1;
    transition: linear 0.2s;
}

.btnLogin:hover {
    background-color: #003cff;
    color: white;
    box-shadow: none;   
}

.login .query {
    margin: 20px 0;
}

.login .query p {
    margin-top: 10px;
    font-weight: 400;
}

.login .query p a {
    text-decoration: none;
    color: #003cff;
    transition: linear 0.2s;
}

.login .query p a:hover {
    text-decoration: underline;   
    font-weight: 700; 
}
